.info-card {
  width: calc(100vw - 20px);
  margin: 10px 10px;
}

.card__primary {
  padding: 0rem 1rem;
  h2 {
    margin-bottom: 0px;
  }
  h3 {
    margin-top: 0px;
    color: var(--mdc-theme-text-secondary-on-background,rgba(0,0,0,.54));
    font-size: .875rem;
  }
}

.card__secondary {
  padding: 1rem;
}

.mdc-icon-button--on {

}

.mdc-card__ripple{
  display: none !important;
}